# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [ ]:
"x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım."

x=3
float(x)
print(x)
type(x)

In [ ]:
"y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım."
y=4.5
int(y)
print(y)
print(type(y))

In [ ]:
"z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım."

z="8"
int(z)
print(z)
print(type(z))

In [ ]:
"a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım."

a="12"
float(a)
print(a)
print(type(a))

In [ ]:
"b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım."

b = "46.8"
int(b)
print(b)
print(type(b))

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [ ]:
Mert = 22
Idil = 15
Yigit = 20

Mert > Idil
Idil < Yigit
Yigit > Mert "False"

In [ ]:
Mert > Idil && Idil < Yigit
Idil < Yigit || Mert < Yigit
!(Yigit > Mert)

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [ ]:
userValF = input("Enter your first value: ") 
userValS = input("Enter your second value: ") 
print({"Is your value: "} + {"First : " userValF } + {"Second : " userValS })

addision = userValF + userValS
subtraction = userValF - userValS
division = userValF / userValS
multiplication = userValF * userValS

print(addision)
print(subtraction)
print(division)
print(multiplication)

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [ ]:
userName = input("Enter Name: ") 
userAge = input("Enter Age: ") 
userCity = input("Enter City: ")
userJob = input("Enter Job: ") 

print({userName } +{userAge } + {userCity } + {userJob } )

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [ ]:
val = "Hi-Kod Veri Bilimi Atölyesi"
val.split(" ")
print(val)

val.upper()

val.lower()

val2 = "0123456789"
val2[0::2]
val2[1::2]